<h1>States</h1>
<!-- <button ng-click='bc.toggleForm()'>{{!bc.showForm == true ? 'Add State' : 'Cancel'}}</button>
<form name="bc.stateForm" ng-submit='bc.addNewState();bc.showForm = !bc.showForm' ng-show="bc.showForm" novalidate>
    <input-group card="bc.newState" form= element-type="state" "bc.stateForm"/>    

    <div >
        <input type="submit" value="Add State" ng-disabled="bc.stateForm.$invalid" />
        <button ng-click="bc.resetFormState()">Reset</button>
    </div>
</form> -->
<br>
<editable-content value="New" model="bc.newState" action="bc.addState(bc.newState)" action-type="add">
    <content-edit>
        <input-group element-type="state" />
    </content-edit>
</editable-content>

<div class="columnContainer">		
    <div class="column" ng-repeat="state in states" ng-init="stateCards = bc.getCardsForState(state.$id)">
        
        
        <editable-content value="&#9881" model="state" action="bc.updateState(state)" action-type="edit">
            <!-- TODO: temporary fix, find a way to not use $parent -->
            <content-view>
                <button class="btnRemove" ng-click="bc.removeState(state)">X</button>
                <br>
                {{state.name}} 
            </content-view>
            <content-edit>
                <input-group element-type="state" />
            </content-edit>
        </editable-content>
        <editable-content value="New Card" model="bc.newCard" action="bc.addCard(bc.newCard, state.$id)" action-type="add">      
            <content-edit>
                <input-group element-type="card">
            </content-edit>  

        </editable-content>
        <div class="card" ng-repeat="card in stateCards" >
            <editable-content value="&#9881" model="card" action="bc.updateCard(card)" action-type="edit">
                <content-view>
                <button class="btnRemove" ng-click="bc.removeCard(card)">X</button>
                    <div>
                        <div class="name">
                            {{card.name}}   
                        </div>
                        <div class="description">
                            {{card.description}}
                        </div>
                    </div>
                </content-view>
                <content-edit>
                    <input-group element-type="card" states="states" />
                </content-edit>
            </editable-content>
        </div>
        
	</div>
</div>