<div >
	<label for "username" hidden>User Name:</label>
	<input type="text" name="username" ng-model="editable.username" required placeholder="User Name..."></input>

    <label for "name" hidden >Name: </label>
    <input type="text" name="name" ng-model="editable.name" required placeholder="Name..." >
    <label for "lastName" hidden >Last Name: </label>
    <input type="text" name="lastName" ng-model="editable.lastName" required placeholder="Last Name..." >

	<label for "email" hidden >Email: </label>
    <input type="email" name="email" ng-model="editable.email" required placeholder="emailadress@provider.com" >

</div>


