<h1>States</h1>
<!-- <button ng-click='bc.toggleForm()'>{{!bc.showForm == true ? 'Add State' : 'Cancel'}}</button>
<form name="bc.stateForm" ng-submit='bc.addNewState();bc.showForm = !bc.showForm' ng-show="bc.showForm" novalidate>
    <state-form state="bc.newState" form="bc.stateForm"></state-form>    

    <div >
        <input type="submit" value="Add State" ng-disabled="bc.stateForm.$invalid" />
        <button ng-click="bc.resetFormState()">Reset</button>
    </div>
</form> -->
<br>
<custom-edit value="New" model="bc.newState" action="bc.addState(bc.newState)" action-type="add">
    <state-form state="$parent.editModel"></state-form>
</custom-edit>

<div class="columnContainer">		
	<div class="column" ng-repeat="state in states">
		{{state.name}} 
        <button class="btnRemove" ng-click="bc.removeState(state)">X</button>
        <custom-edit value="*" model="state" action="bc.updateState(state)" action-type="edit">
            <!-- TODO: temporary fix, find a way to not use $parent -->
            <state-form state="$parent.editModel"/>
        </custom-edit>
        <custom-edit value="New Card" model="bc.newCard" action="bc.addCard(bc.newCard, state.$id)" action-type="add">
        
            <card-form card="$parent.editModel">
        </custom-edit>
        <!-- <div class="card" ng-repeat="card in testCards">
            {{card.name}}
        </div> -->
        
	</div>
</div>